:root{
    --mainColor:#D87D4A;
    --lightMain:#fbaf85;
    --secondaryColor:#101010;
    --darkGray:#F1F1F1;
    --lightGray:#FAFAFA;
    --borderColor:#979797;
}


.fh1,.fh2,.fh3,.fh4,.fh5,.fh6,.f-sub{
    font-weight: bold;
    text-transform: capitalize;
}
.fh1{
    font-size: 4rem;
    line-height: 1.1;
}

.fh2{
    font-size: 2.5rem;
    line-height: 2.75;
}
.fh3{
    font-size: 2rem;
    line-height: 2.25;
}
.fh4{
    font-size: 1.75rem;
    line-height: 2.375;
}
.fh5{
    font-size: 15rem;
    line-height: 2.06;
}
.fh6{
    font-size: 1.125rem;
    line-height: 1.5;
}
.f-overline{
    font-size: .875rem;
    line-height: 1.187;
    letter-spacing: 4px;
}
.f-sub{
    font-size: .8125rem;
    line-height: 1.187;
}
.fb{
    font-size: .937rem;
    line-height: 1.5625;
    font-weight: 600;
}

.mainBtn{
    background-color: var(--mainColor);
    border:1px solid var(--mainColor);
    font-size: .8125rem;
    color:#fff;
}

.mainBtn:hover{
    background-color: var(--lightMain);
    border-color: var(--lightMain);
}

.secondaryBtn{
    font-size: .8125rem;
    background-color: #fff;
    border:1px solid #000;
    color:#000;
}

.secondaryBtn:hover{
    background-color: #000;
    color:#fff;
}
.linkBtn{
    color:fff;
}
.linkBtn:hover{
    color:var(--mainColor);
}

.borderBottom{
   border-bottom:.5px solid var(--borderColor);
}

.parent,nav{
    width:95%;
}
.nav-link{
    color:#fff;
    text-transform: capitalize;
}

.navbar-nav .nav-link.active{
    color:var(--mainColor);
}

.logo{
    width:68%;
}
.cartIcon{
    position: fixed;
    right:2.5%;
    top:1.6rem;
}

.Home{
    height: 100vh;
    background-image: url('../assets/home/mobile/image-header.jpg');
    background-size: cover;
}

.homeCaption{
    text-align: center;
    width:80%;
    margin:0 auto;
}

@media screen and (min-width:768px){
    .parent,nav{
        width:80%;
    }
    .logo{
        width:auto;
    }
    .cartIcon{
        position: fixed;
        right:10%;
    }
    .Home{
        background-image: url('../assets/home/tablet/image-header.jpg');
    }
}

@media screen and (min-width:992px){
    .parent,nav{
        width:80%;
    }
    .cartIcon{
        position: unset;
    }
    .Home{
        background-image: url('../assets/home/desktop/image-hero.jpg');
    }

    .homeCaption{
        text-align: left;
        width:50%;
        margin:0;
    }
}