:root{
    --mainColor:#D87D4A;
    --lightMain:#fbaf85;
    --secondaryColor:#101010;
    --darkGray:#F1F1F1;
    --lightGray:#FAFAFA;
    --borderColor:#979797;
}

.bg-gray{
    background-color: var(--darkGray);
}
.fh1,.fh2,.fh3,.fh4,.fh5,.fh6,.f-sub{
    font-weight: bold;
    text-transform: capitalize;
}
.fh1{
    font-size: 4rem;
    line-height: 1.1;
}

.fh2{
    font-size: 2.5rem;
    line-height: 2.75;
}
.fh3{
    font-size: 2rem;
    line-height: 2.25;
}
.fh4{
    font-size: 1.75rem;
    line-height: 2.375;
}
.fh5{
    font-size: 15rem;
    line-height: 2.06;
}
.fh6{
    font-size: 1.125rem;
    line-height: 1.5;
}
.f-overline{
    font-size: .875rem;
    line-height: 1.187;
    letter-spacing: 4px;
}
.f-sub{
    font-size: .8125rem;
    line-height: 1.187;
}
.fb{
    font-size: .937rem;
    line-height: 1.5625;
    font-weight: 600;
}

.mainBtn{
    background-color: var(--mainColor);
    border:1px solid var(--mainColor);
    font-size: .9rem;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
}

.mainBtn:hover{
    background-color: var(--lightMain);
    border-color: var(--lightMain);
    color:#fff;
}

.secondaryBtn{
    font-size: .8125rem;
    background-color: #fff;
    border:1px solid #000;
    color:#000;
}

.secondaryBtn:hover{
    background-color: #000 !important;
    color:#fff;
}

.text-site{
    color:var(--mainColor)
}

.bg-site{
    background-color: var(--mainColor);
}
.linkBtn{
    color:#000;
    opacity: .5;
}
.linkBtn:hover{
    color:var(--mainColor);
}

.borderBottom{
   border-bottom:.5px solid var(--borderColor);
}

.bg-bk{
    background-color:#1A1A1A;
}

.navSection{
    z-index:9999;
}


.parent{
    width:95%;
}
.nav-link{
    color:#fff;
    text-transform: capitalize;
}

.navbar-nav .nav-link.active,.nav-link:hover{
    color:var(--mainColor);
}

.logo{
    width:68%;
}
.cartIcon{
    position: fixed;
    right:2.5%;
    top:1.6rem;
}

.Home{
    height: 100vh;
    background-image: url('../assets/home/mobile/image-header.jpg');
    background-size: cover;
}

#HeadPhones{
    height: 50vh;
}

.homeCaption{
    text-align: center;
    width:80%;
    margin:0 auto;
}

.categoryImg{
   width:180px;
   transform: translateX(-50%);
   left:50%;
   top:-60px;
}

.categoryImg span{
    color:var(--darkGray)
}

.zx9speaker .parent{
    background-image: url('../assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.speakerImage{
    top:10px;
}

.imgMedium,.imgLarge{
    display:none;
}
.imgSmall{
    display:inline-block
}

.zx7speaker .parent{
    background-image: url('../assets/home/mobile/image-speaker-zx7.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.socials svg:hover path{
    fill:var(--mainColor);
}

.footerBorder::before{
  content:'';
  width:100px;
  height:4px;
  background-color: var(--mainColor);
  position: absolute;
  top:-3rem;

}

.orderInfo{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.updateQuantity:hover{
    color:var(--mainColor) !important;
}
#details{
    height: 22vh;
}

.cart{
    position: fixed;
    z-index:10000;
}

.sucessOrder{
    z-index:10000;
}

.w25{
    width:60px;
}

.cartWidth{
    width:350px;
    margin:0 auto;
    top:50px;
}

.form-control::placeholder{
    font-size: 1rem;
}

.form-control:focus{
    border-color: var(--mainColor);
    box-shadow: unset;
    caret-color: var(--mainColor);
}
.form-control{
    padding-bottom: 13px;
}


.form-check{
    border:1px solid #E1E1E1;
    padding:.7rem 2.8rem;
    border-radius: .5rem;
}


@media screen and (min-width:768px){
    .parent{
        width:80%;
    }
    .logo{
        width:auto;
    }
    .cartIcon{
        position: fixed;
        right:10%;
    }
    .Home{
        background-image: url('../assets/home/tablet/image-header.jpg');
    }

    .imgLarge,.imgSmall{
        display:none;
    }
    .imgMedium{
        display:inline-block
    }

    .zx7speaker .parent{
        background-image: url('../assets/home/tablet/image-speaker-zx7.jpg');
        background-position: left top;
    }

    .cartWidth{
        margin:0 0 0 auto;
    }

    .successWidth{
        width:60%;
    }

}

@media screen and (min-width:992px){
    .parent{
        width:80%;
    }
    .cartIcon{
        position: unset;
    }
    .Home{
        background-image: url('../assets/home/desktop/image-hero.jpg');
    }

    .homeCaption{
        text-align: left;
        width:50%;
        margin:0;
    }

    .imgMedium,.imgSmall{
        display:none;
    }
    .imgLarge{
        display:inline-block
    }

    .zx9speaker .parent{
        background-position: left top;
    }

    .zx9speaker p {
        width:85%;
    }
    .zx7speaker .parent{
        background-image: url('../assets/home/desktop/image-speaker-zx7.jpg');
        background-position: left top;
    }

    .beginPhoto,.OrderHead{
         order:3;
    }

    .footerParag{
        width:50%;
    }

    .socials{
        order:-1;
    }

    .orderInfo{
        width:80%;
    }

  
    
}

@media screen and (min-width:1200px){
    .zx9speaker p {
        width:75%;
    }

    .successWidth{
        width:40%;
    }
    
}